
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
image-deep-fake-detector-cb75e9899f2d.json
service_keys
app2.py

# PyTorch
# *.pth
# *.pt

# Data
data/raw/
data/processed/
*.zip
*.tar.gz

# Logs and Results
logs/
results/
*.log

# Environment
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
config.yaml
